* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and ( max-width : 600px ) {

  body { background-color: white; }

  .container-fluid {
    align-items: center;
    display: grid;
    height: 90vw;
    justify-content: center;
    width: 100%;
  }

  .container-component {
    display: grid;
    margin-top: 5vh;
    text-align: center;
  }

  .container-input {
    margin-top: 3vh;
  }

  .input {
    border: 0.5vw solid black;
    border-radius: 1.5vw;
    color: black;
    font-weight: 800;
    height: 10vw;
    margin-bottom: 2vw;
    text-align: center;
    width: 80vw;
  }

  .btn-login {
    background-color: rgb(98, 140, 71);
    border-radius: 1.5vw;
    color: white;
    font-size: 5vw;
    font-weight: 600;
    height: 10vw;
    width: 80vw;
  }

  .btn-login:disabled {
    background-color: rgb(243, 250, 237);
    color: black;
  }

  .container-component img {
    width: 70vw;
  }

}
