@media only screen and ( max-width : 600px ) {

  .container-ingredients {
    background-color: rgb(129, 57, 28);
    display: flex;
    padding: 0 5vw;
    width: 100vw;
  }

  .itens {
    margin: 5vw 0;
    width: 50vw;
  }

  .iten-text {
    border-bottom: 0.3vw solid white;
    color: white;
    font-size: 5vw;
    font-weight: 500;
    padding: 0 1vw;
  }
}
